/* common */


  @font-face{ 
    font-family: 'DQ';
    src: url('../fonts/PixelMplus10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  html{
    height: 100%;
  }

  body{
    height: 100%;
    width: 600px;
    font-family: 'DQ';
    color: #fff;
    background-color: #000;
    margin: 0 auto;
  }

/* common */

.main{
  position: relative;
  width: 600px;
  height: 525px;
}
.bgi{
  width: 600px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 85%;
  z-index: -1;
  margin: 100px 0 125px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
.katsuya{
  position: absolute;
  top: 40%;
  left: calc(50% - 50px);
  width: 100px;
  z-index: 0;
}
.katsuya.flash{
  animation: blinkEffect .1s step-end 3;
}
.frame{
  position: absolute;
  border: 4px solid #fff;
  border-radius: 4px;
  outline: 1.5px solid #303029;;
  background-color: #303029;
}
.readme{
  top: 20px;
  left: 30px;
  padding: 4px 12px;
  line-height: 30px;
}
.mairei{
  top: 30px;
  right: 50px;
  padding: 4px 12px;
  line-height: 30px;
}
.command{
  bottom: -30px;
  left: 10px;
}
.check{
  bottom: 50px;
  left: 150px;
  z-index: 2;
  display: none;
}
.check.apear{
  display: block;
}
.command dt,
.check dt{
  text-align: center;
  font-weight: normal;
  border-bottom: 2px solid #fff;
  padding: 6px 10px;
}
.check dt{
  padding: 6px 4px 6px 10px;
}
.command-list{
  position: relative;
  padding: 8px 8px 8px 26px;
}
.check-list{
  position: relative;
  padding: 8px 8px 8px 36px;
}
.blink::before{
  content: url("../img/矢印.png");
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.06);
  position: absolute;
  top: -198px;
  left: -125px;
  animation: blinkEffect .6s step-end infinite;
}
.textbox{
  bottom: 37.5px;
  left: 185px;
  width: 400px;
  height: 100px;
  padding: 8px;
}
.text{
  width: 100%;
  white-space: nowrap;
  caret-color: transparent;
  /* overflow: hidden;
  border-right: 1px solid rgba(255,255,255,.5);
  animation: typing 1.5s steps(24),
    blink .5s steps(1) infinite alternate; */
}

@keyframes blinkEffect {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes typing{
  0% {width: 0;}
}
@keyframes blink{
  50% {border-right-color: transparent;}
}
